[Desktop Entry]
Name=Panucci
GenericName=Resuming audiobook and podcast player
Comment=Resume audiobooks or podcasts from last point, or set bookmarks
Exec=panucci
Icon=/usr/share/pixmaps/panucci.png
Terminal=false
Type=Application
Categories=Audio;
MimeType=audio/x-mp3;audio/ogg;audio/mpeg;application/ogg;audio/x-flac;audio/x-flac+ogg;audio/x-vorbis+ogg;audio/x-speex+ogg;audio/x-oggflac;audio/x-musepack;audio/x-tta;audio/x-ms-wma;
