[Desktop Entry]
Name=Panucci
GenericName=Resuming audiobook and podcast player
Comment=Resume audiobooks or podcasts from last point, or set bookmarks
Exec=panucci
Icon=/usr/share/pixmaps/panucci.png
Terminal=false
Type=Application
Categories=Audio;
MimeType=audio/mpeg;audio/mp4;audio/ogg;application/ogg;audio/flac;audio/opus;audio/alac;
