[Desktop Entry]
Name=Panucci Resuming Player
GenericName=Resuming audiobook and podcast player
Comment=Resume audiobooks or podcasts from last point, or set bookmarks
Exec=panucci
Icon=panucci
Terminal=false
Type=Application
Categories=Audio;GTK;
StartupWMClass=panucci
StartupNotify=true
X-Osso-Type=application/x-executable
X-Osso-Service=org.panucci
X-HildonDesk-ShowInToolbar=true